<form name='form1' action='controllerForm' method='post' >
 
   <input type='text' name='id' id='id' placeholder='Id: ' ><br>
   <input type='text' name='name' id='name' placeholder='Name: ' ><br>
   <input type='text' name='age' id='age' placeholder='Age: ' ><br>
   <input type='submit' name='btnSubmit' id='btnSubmit' value='Add ' ><br>

</form>





